---
export interface Props {
  readonly title: string;
  readonly classes?: readonly string[];
}

const { title, classes = [] } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="dark-scrollbars-compat">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#88171a" />
    <meta name="msapplication-TileColor" content="#333333" />
    <link rel="icon" sizes="16x16" href="/img/icons/favicon-16.png" />
    <link rel="icon" sizes="32x32" href="/img/icons/favicon-32.png" />
    <link rel="icon" sizes="64x64" href="/img/icons/favicon-64.png" />
    <link rel="icon" sizes="128x128" href="/img/icons/favicon-128.png" />
    <link rel="icon" sizes="192x192" href="/img/icons/favicon-192.png" />
    <link rel="icon" sizes="256x256" href="/img/icons/favicon-256.png" />
    <link rel="icon" sizes="512x512" href="/img/icons/favicon-512.png" />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/img/icons/apple-touch-icon-57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/img/icons/apple-touch-icon-72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/img/icons/apple-touch-icon-76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/img/icons/apple-touch-icon-114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/img/icons/apple-touch-icon-120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/img/icons/apple-touch-icon-144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/img/icons/apple-touch-icon-152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/img/icons/apple-touch-icon-180.png"
    />
    <meta
      name="msapplication-TileImage"
      content="/img/icons/msapplication-144.png"
    />
    <meta
      name="msapplication-square150x150logo"
      content="/img/icons/msapplication-150.png"
    />
    <meta
      name="msapplication-square70x70logo"
      content="/img/icons/msapplication-70.png"
    />
    <meta
      name="msapplication-square310x310logo"
      content="/img/icons/msapplication-310.png"
    />
    <meta
      name="og:image"
      content="https://www.wireguard.com/img/icons/og-logo.png?a=obiDa7ee"
    />
    <meta name="og:image:width" content="1200" />
    <meta name="og:image:height" content="630" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap"
      rel="stylesheet"
    />
    <link href="/fonts/fontawesome/css/all.min.css" rel="stylesheet" />
    <style is:global>
      .dark-scrollbars::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }

      .dark-scrollbars-compat {
        scrollbar-color: rgb(71, 85, 105) rgb(30, 41, 59);
      }

      .dark-scrollbars::-webkit-scrollbar-track {
        @apply bg-gray-800;
      }

      .dark-scrollbars::-webkit-scrollbar-thumb {
        @apply bg-gray-600;
      }

      .dark-scrollbars::-webkit-scrollbar-thumb:hover {
        @apply bg-gray-500;
      }

      i {
        @apply align-middle;
        line-height: inherit !important;
      }
    </style>
    <title>WireGuard | {title}</title>
  </head>
  <body
    class:list={[
      "dark font-nunito bg-xiketic text-gray-100 dark-scrollbars min-h-screen antialiased",
      ...classes,
    ]}
  >
    <slot />
  </body>
</html>
