---
import BaseLayout from "@/layouts/BaseLayout.astro";

export interface Props {
  readonly title: string;
}

const { title } = Astro.props;
---

<style is:global>
  @import url("https://fonts.googleapis.com/css?family=Comfortaa");
  @import url("https://fonts.googleapis.com/css?family=Abril+Fatface");
  @import url("https://fonts.googleapis.com/css?family=Anonymous+Pro");

  html,
  body {
    font-family: Comfortaa;
    font-size: 5vmin;
  }
  .error {
    font-size: 12vmin;
    font-family: Abril Fatface;
    color: #a76d60;
  }
  .number {
    font-size: 22vmin;
    font-family: Abril Fatface;
    color: #601700;
  }
  .message {
    color: #00a676;
    font-family: Anonymous Pro;
  }
</style>

<BaseLayout
  title={title}
  classes={[
    "min-h-screen",
    "flex",
    "flex-col",
    "text-center",
    "justify-center",
  ]}
>
  <slot />
</BaseLayout>
