---
import ErrorPageLayout from "@/layouts/ErrorPageLayout.astro";
---

<ErrorPageLayout title="Not Found">
  <div class="error ">ERROR</div>
  <div class="number">404</div>
  <p class="message">This road goes nowhere...!</p>
</ErrorPageLayout>
