---
import ErrorPageLayout from "@/layouts/ErrorPageLayout.astro";
---

<ErrorPageLayout title="Internal Error">
  <div class="error ">ERROR</div>
  <div class="number">500</div>
  <p class="message">Ooops!!</p>
</ErrorPageLayout>
