---
import { StatusCodes } from "http-status-codes";
import Dashboard from "@/layouts/Dashboard.astro";
import Index from "@/components/pages/Index.svelte";
import { apiRoute } from "@/astro";
import { LOGIN_PAGE_EXPIRED_SESSION_URL } from "@/constants";

const authCookie = Astro.cookies.get("auth").value;
if (authCookie === undefined) {
  return Astro.redirect(LOGIN_PAGE_EXPIRED_SESSION_URL);
}

const response = await fetch(apiRoute("/api/auth/check"), {
  headers: {
    cookie: `auth=${authCookie}`,
  },
});

if (response.status === StatusCodes.UNAUTHORIZED) {
  return Astro.redirect(LOGIN_PAGE_EXPIRED_SESSION_URL);
}

if (response.status !== StatusCodes.OK) {
  return Astro.redirect("/500");
}
---

<Dashboard title="Clients" activeMenu={"clients"}>
  <main class="lg:w-11/12 xl:w-5/6 m-auto">
    <Index client:only="svelte" />
  </main>
</Dashboard>
