---
import { URL } from "node:url";
import LoginLayout from "@/layouts/LoginLayout.astro";
import LoginForm from "@/forms/Login.svelte";

const reqUrl = new URL(Astro.request.url);
const invalidCreds = reqUrl.searchParams.has("invalid_creds");
const showSessionExpiredBanner = reqUrl.searchParams.has("session_expired");
---

<LoginLayout>
  <div class="flex min-h-screen items-center justify-center text-gray-100">
    <div
      class="flex w-5/6 md:w-2/3 lg:w-1/2 xl:w-2/5 2xl:1/5 shadow-2xl rounded-2xl flex-col border border-[#191e3a]"
    >
      <div class="flex-1 p-6">
        <LoginForm invalidCreds={invalidCreds} client:load />
      </div>
    </div>
    {
      showSessionExpiredBanner && (
        <div
          id="error-banner"
          class="py-2 pl-4 fixed bottom-0 left-0 right-0 bg-yellow-600"
        >
          <i class="fa-solid fa-triangle-exclamation mr-1 align-baseline" />
          <span class="font-medium align-bottom">Please sign in again.</span>
        </div>
      )
    }
  </div>
  <style>
    #error-banner {
      transition-property: bottom;
      transition-duration: 4s;
      transition-timing-function: linear;
    }
    #error-banner.goout {
      bottom: -100%;
    }
  </style>
  <script>
    setTimeout(() => {
      const errorBanner = document.getElementById("error-banner");
      if (errorBanner === null) {
        return;
      }

      const transitionDuration =
        window.getComputedStyle(errorBanner).transitionDuration;
      let transitionDurationMS = 0;
      if (transitionDuration.endsWith("ms")) {
        transitionDurationMS = parseFloat(transitionDuration.slice(0, -2));
      } else {
        transitionDurationMS = parseFloat(transitionDuration.slice(0, -1));
      }
      setTimeout(() => {
        errorBanner?.remove();
      }, transitionDurationMS + 500);
      errorBanner?.classList.toggle("goout");
    }, 3_000);
  </script>
</LoginLayout>
