<script lang="ts">
  import { fade } from "svelte/transition";

  export let text: string;
</script>

<div
  out:fade={{ duration: 777 }}
  class="rounded-lg mt-6 h-fit w-full border border-[#6a111a] bg-[#430c11] text-[#df7a83] bg-opacity-50 p-4"
>
  <p>{text}</p>
</div>
