<script lang="ts">
  import { fade } from "svelte/transition";

  export let text: string;
</script>

<div
  out:fade={{ duration: 777 }}
  class="rounded-lg mt-6 h-fit w-full border border-[#7c5c00] bg-[#3d2e00] text-[#fbde86] bg-opacity-50 p-4"
>
  <p>{text}</p>
</div>
