<script lang="ts">
  import { StatusCodes } from "http-status-codes";
  import pWaterfall from "p-waterfall";
  import { createEventDispatcher } from "svelte";
  import { apiRoute } from "@/browser";
  import AlertDanger from "./AlertDanger.svelte";
  import { LOGIN_PAGE_EXPIRED_SESSION_URL } from "@/constants";
  import ModalContentHeightFit from "./ModalContentHeightFit.svelte";

  let formTouched = false;
  let nameShowValidationError = false;
  let nameValidationError: string | null = "Required";
  let descriptionShowValidationError = false;
  let descriptionValidationError: string | null = null;

  $: nameIsValid = nameValidationError === null;
  $: descriptionIsValid = descriptionValidationError === null;
  $: submitEnabled = formTouched && nameIsValid && descriptionIsValid;

  let submitError: string | null = null;

  function handleNameInput(v: string) {
    if (v.trim().length === 0) {
      nameValidationError = "Required";
      return;
    }

    if (v.trim().length !== v.length) {
      nameValidationError = "Invalid value";
      return;
    }

    if (v.length > 256) {
      nameValidationError = "Cannot be longer than 256 characters";
      return;
    }

    nameValidationError = null;
    return;
  }

  function handleDescriptionInput(v: string) {
    if (v.trim().length !== v.length) {
      nameValidationError = "Invalid value";
      return;
    }

    if (v.length > 10_000) {
      descriptionValidationError = "Cannot be longer than 10,000 characters";
      return;
    }

    descriptionValidationError = null;
    return;
  }

  const dispatch = createEventDispatcher();

  function closeModal() {
    dispatch("close");
  }

  async function handleSubmit(formElement: HTMLFormElement) {
    await pWaterfall(
      [
        async (formData) => {
          const values = Object.fromEntries(formData.entries());
          return await fetch(apiRoute("/api/peers"), {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            redirect: "follow",
            referrerPolicy: "no-referrer",
            credentials: "include",
            body: JSON.stringify(values),
          });
        },
        async (apiRes) => {
          if (apiRes.status === StatusCodes.UNAUTHORIZED) {
            location.assign(LOGIN_PAGE_EXPIRED_SESSION_URL);
            return;
          }

          if (
            apiRes.status === StatusCodes.UNPROCESSABLE_ENTITY ||
            apiRes.status === StatusCodes.REQUEST_TOO_LONG
          ) {
            submitError = "Invalid form values.";
            return;
          }

          if (apiRes.status !== StatusCodes.CREATED) {
            throw new Error(
              `expected server response status code to be 201 Created, got: ${apiRes.status}`
            );
          }

          const x = await apiRes.text();
          dispatch("success", x);
          closeModal();
        },
      ],
      new FormData(formElement)
    ).catch((error) => {
      console.error(error);
      submitError = "Server error occurred.";
    });
  }
</script>

<ModalContentHeightFit title="Create New Client" onClose={closeModal} >
  <form on:submit|preventDefault={(e) => handleSubmit(e.currentTarget)}>
    <div class="mb-6 last:mb-0">
      <label class="block font-bold mb-2" for="name">Name</label>
      <input
        id="name"
        name="name"
        type="text"
        autocomplete="off"
        class="px-3 py-2 max-w-full border-gray-700 rounded w-full dark:placeholder-gray-400 focus:ring focus:ring-blue-600 focus:border-blue-600 focus:outline-none h-12 border bg-gray-800"
        placeholder="Ali Agha"
        tabindex="0"
        on:focusin|once|self|trusted|capture={() => {
          formTouched = true;
        }}
        on:focusout|once|self|trusted|capture={() => {
          nameShowValidationError = true;
        }}
        on:input|self|trusted|capture={(e) => {
          handleNameInput(e.currentTarget.value);
        }}
      />
      {#if nameShowValidationError && nameValidationError !== null}
        <p class="mt-2 text-pink-600">{nameValidationError}</p>
      {/if}
    </div>
    <div class="mb-6 last:mb-0">
      <label class="block font-bold mb-2" for="description">Description</label>
      <input
        id="description"
        name="description"
        type="text"
        autocomplete="off"
        class="px-3 py-2 max-w-full border-gray-700 rounded w-full dark:placeholder-gray-400 focus:ring focus:ring-blue-600 focus:border-blue-600 focus:outline-none h-12 border bg-gray-800"
        placeholder="Here goes some description..."
        tabindex="0"
        on:focusin|once|self|trusted|capture={() => {
          formTouched = true;
        }}
        on:focusout|once|self|trusted|capture={() => {
          descriptionShowValidationError = true;
        }}
        on:input|self|trusted|capture={(e) => {
          handleDescriptionInput(e.currentTarget.value);
        }}
      />
      {#if descriptionShowValidationError && descriptionValidationError !== null}
        <p class="mt-2 text-pink-600">{descriptionValidationError}</p>
      {/if}
    </div>
    <hr class="my-6 -mx-6 dark:border-gray-800 border-t" />
    <div class="-mb-3 text-center">
      <button
        class="w-full focus:outline-none uppercase transition-colors focus:ring duration-150 border cursor-pointer rounded-lg border-violet-600 ring-violet-700 bg-violet-500 text-white hover:bg-violet-600 mb-3 py-2 px-3"
        type="submit"
        class:disabled={!submitEnabled}
        disabled={!submitEnabled}
      >
        <span class="px-2">Create</span>
      </button>
    </div>

    {#if submitError !== null}
      <AlertDanger text={submitError} />
    {/if}
  </form>
</ModalContentHeightFit>

<style>
  button.disabled {
    cursor: not-allowed;
    background-color: dimgray;
    border-color: rgb(143, 143, 143);
  }
</style>
