<script lang="ts">
  import ModalBase from "./ModalBase.svelte";
  import ModalHeader from "./ModalHeader.svelte";

  export let title: string;
  export let onClose: () => void;
</script>

<ModalBase on:close={onClose}>
  <div
    class="modal-content border-none shadow-lg flex flex-col w-2/3 lg:w-1/2 xl:w-1/2 2xl:w-3/7 m-auto pointer-events-auto text-white bg-gray-800 rounded-md outline-none text-current"
  >
    <ModalHeader {title} {onClose} />
    <div
      class="modal-body dark-scrollbars relative p-4 max-h-[76vh] overflow-x-hidden overflow-y-scroll"
    >
      <slot />
    </div>
  </div>
</ModalBase>
