<script lang="ts">
  import { createEventDispatcher } from "svelte";
  import { fly } from "svelte/transition";

  const dispatch = createEventDispatcher();

  function closeModal() {
    dispatch("close");
  }

  function handleKeyPress(e: KeyboardEvent) {
    if (e.key === "Escape") {
      dispatch("close");
    }
  }
</script>

<svelte:window on:keydown={handleKeyPress} />
<div
  on:click|once={closeModal}
  aria-hidden="true"
  class="fixed top-0 left-0 w-full h-full bg-[#00000096]"
/>

<div
  class="modal fixed top-0 left-0 fade outline-none"
  aria-modal="true"
  role="dialog"
>
  <div
    in:fly={{ y: 200, duration: 300 }}
    out:fly={{ y: 200, duration: 300 }}
    class="modal-dialog modal-dialog-scrollable pointer-events-none fixed flex h-full w-full"
  >
    <slot />
  </div>
</div>
