<script lang="ts">
  import type { MouseEventHandler } from "svelte/elements";

  export let title: string;
  export let onClose: MouseEventHandler<HTMLButtonElement>;
</script>

<div
  class="modal-header flex items-center justify-between p-4 border-b border-gray-500 rounded-t-md"
>
  <h5 class="text-xl font-medium leading-normal text-white">
    {title}
  </h5>
  <button
    type="button"
    class="btn-close box-content w-4 h-4 p-1 border-none rounded-none opacity-75 focus:shadow-none focus:outline-none hover:opacity-100 hover:no-underline"
    on:click={onClose}
    aria-label="Close"
  >
    <i class="fa-solid fa-xmark" />
  </button>
</div>
