<script lang="ts">
  import { createEventDispatcher } from "svelte";
  import ModalContentHeightMax from "./ModalContentHeightMax.svelte";

  const dispatch = createEventDispatcher();

  function closeModal() {
    dispatch("close");
  }
</script>

<ModalContentHeightMax title="Generated Client QR Code" onClose={closeModal}>
  <slot />
</ModalContentHeightMax>
